/* block */
body {
    font-family: "PingFang TC", "Heiti TC", "微軟正黑體", sans-serif;
    font-size: 16px;
    background-color: #077054;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .header {
    margin: 30px auto;
  }

  .content {
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 35px;
    display: flex;
  }

  .content .side {
    display: flex;
    align-items: end;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer .social {
    display: flex;
  }

  /* style */
  .header .title {
    text-align: center;
  }

  .header .title h1 {
    font-size: 3rem;
    color: #99fa99;
    margin-bottom: 15px;
  }

  .header .title h2 {
    font-size: 1.7rem;
    color: #b6d8cf;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .nav {
    margin-bottom: 15px;
    text-align: center;
  }

  .nav ul li {
    display: inline-block;
    padding: 0 30px;
  }

  .nav a {
    color: #b6d8cf;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav li.active a {
    color: #99fa99;
  }

  .nav a:hover {
    color: #d3a3ff;
  }

  .content h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 35px;
    color: #21a51e;
  }

  .content h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 5px;
    color: #315f52;
  }

  .content p {
    font-size: 0.9rem;
    line-height: 1.5em;
    margin-bottom: 25px;
  }

  .footer h3 {
    color: #99fa99;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .footer span {
    color: #b6d8cf;
    font-size: 0.85rem;
  }

  .footer .social li {
    display: inline-block;
    background: url("https://freewebsitetemplates.com/preview/rehabilitation-yoga/images/icons.png")
      no-repeat;
    text-indent: -999999px;
    height: 30px;
    width: 37px;
    margin-left: 15px;
  }

  .social li.fb {
    background-position: 12px 0;
  }

  .social li.twitter {
    background-position: 0 -30px;
  }

  .social li.google {
    background-position: 0 -62px;
  }

  .social li.pinterest {
    background-position: 0 -94px;
  }

  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
      margin: 0 auto;
    }

    .header {
      margin-top: 75px;
    }

    .nav {
      display: none;
      border: 1px solid #99fa99;
      background-color: rgba(7, 112, 84, 0.9);
      text-align: left;
      width: 90%;
      position: absolute;
      top: 71px;
    }

    .nav ul li {
      display: block;
      border: 1px solid #99fa99;
      padding: 15px;
    }

    .nav li.active {
      background-color: rgba(153, 250, 153, 0.9);
    }

    .nav li.active a {
      color: #ffffff;
    }

    .nav a {
      color: #ffffff;
      font-weight: bold;
    }

    .content {
      flex-direction: column;
    }

    .content .side {
      justify-content: flex-end;
    }

    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .footer h3 {
      margin-bottom: 15px;
    }

    .address {
      margin-bottom: 20px;
    }

    .social {
      margin-bottom: 20px;
    }
  }
